
/* General structure for right now is tags before ids before classes */
/* Ordered from outermost to innermost, such as body tag before hr tag, or page-container id before nav-items id */

/* Common structure rules */

html
{
    margin: 0px;
    padding: 0px;

    border: 0px;
}

body
{
    /* TODO: Choose font */
    margin: 0px;
    padding: 0px;

    border: 0px;
}

noscript
{
    font-weight: bold;
}

hr
{
    margin: 0px;
    padding: 0px;
}

#page-container
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 0px;

    background: url(/img/45-degree-fabric-light-compressed.png) #fbfbfb;
}

#content
{
    margin: 16px;
    width: calc(100% - 32px); /* 32 from margin */
    height: calc(100% - 92px); /* 60px for footer and 32 from padding */
	
	/* Must be position absolute for proper calculation of 100% height */
	position: absolute;
}

#nav
{
    background-color: #34495e;
}

#nav-items
{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 32px;
    padding-top: 1px;

    border-left: 1px solid black;
}

#footer
{
    position: absolute;
    bottom: 0px;
    max-height: 60px;
}

.nav-item
{
    display: inline-block;
    width: 100px;
    height: 32px;

    overflow: hidden;
    text-align: center;

    border-right: 1px solid black;
}

.nav-item > a
{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 5px;

    overflow: hidden;
    text-decoration: none;
    font-weight: bold;

    background-color: #44596e;
    color: white;
}

.nav-item:hover > a
{
    background-color: #52697d;
    color: white;
}

.active-tab
{
    display: block;
}

.inactive-tab
{
    display: none;
}

/* General Utility classes */

.hidden
{
    display: none;
}

.center
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: auto;
	text-align: center;
	transform: translate(-50%, -50%);
}

.v-center
{
	position: absolute;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transform: translateX(-50%);
}

.h-center
{
	position: absolute;
	top: 50%;
	margin-top: auto;
	margin-bottom: auto;
	transform: translateY(-25%);
}

.h-tquad
{
	position: absolute;
	top: 25%;
	margin-top: auto;
	margin-bottom: auto;
}

.h-bquad
{
	position: absolute;
	bottom: 25%;
	margin-top: auto;
	margin-bottom: auto;
}
