
#content *
{
	font-size: 2.5vw;
	font-family: verdana, sans-serif;
}

#content button
{
	font-size: 1vw;
}

#time-display
{
	font-size: 7.5vw;
	font-stretch: expanded;
}

.timer-started
{
	background-color: #00B7AB
}

.timer-warn
{
	background-color: #F9C700
}

.timer-end
{
	background-color: #A60000
}

.timer-paused
{
	background-color: #0070C6
}
